@page
@model IndexModel
@{
    ViewData["Title"] = "INICIO";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
</div>


<div class="text-center">
    <h1 class="display-4">¿CÓMO USAR GITHUB?</h1>
    <p>Aprende sobre: <a href="https://github.com /">Github</a>.</p>
</div>

<div class="text-center">
<img id="foto" src="~/imagenes/Foto.png" />
</div>